@model Faset.Models.FacetMenuModel

@{
    Layout = null;
}
<h3>Choose Language</h3>
@foreach (var task in Model.Languages)
{
    <div class="form-check">
        <input class="form-check-input facet-language" type="checkbox" value="" id="@task">
        <label class="form-check-label" for="@task">
            @task
        </label>
    </div>
}
@*<h3>Choose Publishers</h3>
@foreach (var task in Model.Publishers)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            @task
        </label>
    </div>
}*@
@*<h3>Choose Authors</h3>
@foreach (var task in Model.Authors)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            @task
        </label>s
    </div>
}*@
<h3>Choose sales notes</h3>
@foreach (var task in Model.Sales_notes)
{
    <div class="form-check">
        <input class="form-check-input facet-sales_notes" type="checkbox" value="" id="@task">
        <label class="form-check-label" for="@task">
            @task
        </label>
    </div>
}
